<div class="drawer" #drawer>
  <div class="ion-text-center">
    <ion-button fill="clear" expand="full" (click)="toggleDrawer()">
      <div class="drawer-pull"></div>
    </ion-button>
  </div>
  
  <ion-list>
    <ion-item>10</ion-item>
    <ion-item>10</ion-item>
    <ion-item>10</ion-item>
    <ion-item>10</ion-item>
    <ion-item>10</ion-item>
    <ion-item>10</ion-item>
    <ion-item>10</ion-item>
    <ion-item>10</ion-item>
    <ion-item>10</ion-item>
    <ion-item>10</ion-item>
    <ion-item>10</ion-item>
    <ion-item>10</ion-item>
  </ion-list>
</div>